{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="header">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'room_count_by_category' %}">Room Count by Category</a></li>
            <li><a href="{% url 'room_count_by_category_range' %}">Room Count by Category Range</a></li>
            <li><a href="{% url 'guest_details' %}">Guest Details</a></li>
        </ul>
    </div>
</body>
</html>
