.header {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(221, 99, 17);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline-block;
}

.header li a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

.footer {
    border: 2px solid black;
    background-color: rgb(236, 236, 30);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    display: block;
    margin-top: 5px;
    color: black;
    text-decoration: none;
  }